<!DOCTYPE html>
<html lang="{{ page.lang | default: site.default_lang | default: 'bg' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis45Gx5v1a6jQ1Zc2MZxZxQ0ZKJQ0B+Y9GfQ9hK5b0vYJQ1gqO3w0K5+5Q5e5Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    {% seo %}
</head>
<body>
    {{ content }}
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
</body>
</html>
